* {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
  }

  body {
    background-color: #acf;
  }

  input[type="text"] {
    border: none;
    height: 70px;
    position: absolute;
    display: block;
    width: 80%;
    margin: 0 10%;
    outline: none;
    background-color: cadetblue;
    color: white;
    border-radius: 15px;
  }

  input[type="text"]::placeholder {
    color: aliceblue;
  }

  button {
    position: absolute;
    height: 70px;
    width: 70px;
    border-radius: 21px;
    top: 0;
    right: 10%;
    font-size: 16px;
    color:white;
    border: none;
    background-color:black;
  }
  li p {
    height: 70px;
    border-bottom-right-radius: 20px;
    position: relative;
    background: #bed;
    border-top-right-radius: 20px;
  }

  .input {
    height: 100px;
    position: relative;
  }

  .container1 {
    min-height: 100px;
    position: relative;
  }
  #myIL button{
    right: 0;
    background-color: white;
    color: green;

  }
  #myCL button {
    right: 0;
    background-color: green;
    color: white;
  }
  li {
    position: relative;
    font-size: 2em;
    width: 80%;
    margin: 10px 10% 0 10%;
    list-style-type: none;
    top: 0;
  }
  .divider {
    border-bottom: 0.5px solid; 
    margin:0 30px;
    box-shadow: 2px;  
  }